PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
shiboken6==6.11.1
SQLAlchemy==2.0.51
injector==0.24.0
pytest==9.1.1
zeep==4.3.3
QT-PyQt-PySide-Custom-Widgets==2.2.1
requests
urllib3
cryptography==49.0.0

lxml
