attrs==26.1.0
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
colorama==0.4.6
colorthief==0.2.1
contourpy==1.3.3
cryptography==49.0.0
cssselect2==0.9.0
cycler==0.12.1
defusedxml==0.7.1
fonttools==4.63.0
greenlet==3.5.3
idna==3.18
ihook==0.2.1
iniconfig==2.3.0
injector==0.24.0
isodate==0.7.2
kids.cache==0.0.7
kiwisolver==1.5.0
libsass==0.23.0
lxml==6.1.1
markdown-it-py==4.2.0
matplotlib==3.11.1
mdurl==0.1.2
mock==5.2.0
Nuitka==4.1.3
numpy==2.5.1
packaging==26.2
perlin-noise==1.13
pillow==12.3.0
platformdirs==4.11.0
pluggy==1.6.0
psutil==7.2.2
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PyQtInspect==0.5.0
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pytest==9.1.1
python-dateutil==2.9.0.post0
qrcode==8.2
QT-PyQt-PySide-Custom-Widgets==2.2.1
QtPy==2.4.3
qtsass==0.4.0
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
rich==15.0.0
scipy==1.18.0
setuptools==83.0.0
shiboken6==6.11.1
six==1.17.0
SQLAlchemy==2.0.51
termcolor==3.3.0
tinycss2==1.5.1
typing_extensions==4.16.0
urllib3==2.7.0
watchdog==6.0.0
webencodings==0.5.1
WinGrab==0.0.2
zeep==4.3.3
